body {
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    font-family: 'Titillium Web', sans-serif;
    background-color:#111111;

    }

    img{
    width: 200px;
    height: 170px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    margin-bottom: 10px;
    }

    #app {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    }

    .doors {
    display: flex;
    }

    .door {
    background: #fafafa;
    width: 100px;
    height: 110px;
    overflow: hidden;
    border-radius: 5px;
    margin: 5px;
    }

    .boxes {
    /* transform: translateY(0); */
    transition: transform 1s ease-in-out;
    }

    .box {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
    }

    .buttons {
    margin: 1rem 0 2rem 0;
    }

    button {
    cursor: pointer;
    font-size: 1.2rem;
    margin: 0 0.2rem;
    border: none;
    border-radius: 5px;
    padding: 10px 15px;
    text-align: center;
    padding: 8px;
    color: #FFFF;
    width: 325px;
    height: 74.67px;
    
    border-radius: 10px;
    background-color: #FF9900;
    }

    button:hover{
    cursor: pointer;
    opacity: 0.5;
    }

    .info {
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
    }

    #balance{
    margin-top: 20px;
    margin-bottom: 20px;
    font-weight: bold;
    text-align: center;
    color: #FFFF;
    }

    #message{
    font-weight: bold;
    text-align: center;
    }